.alta {
    background-color: rgb(210, 56, 56);
}

.media {
    background-color: rgb(185, 137, 48);
}

.baja {
    background-color: rgb(50, 176, 50);
}

div {
    width: 210%;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
}