<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>creditos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">creditos</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <img alt="Imagen de juanma" src="https://www.tecnoempleo.com/profesionales/foto_preview.php?idfoto=1067998&seed=0.3955114651329623" />
    <ion-card-header>
      <ion-card-title>Juan Manuel Iriondo</ion-card-title>
      <ion-card-subtitle>Programador</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Programador de aplicaciones Web
    </ion-card-content>
  </ion-card>

</ion-content>
